body, html {
    font-family: helvetica;
  height: 100%;
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("https://i.pinimg.com/originals/7b/50/20/7b5020dd70445976171bf410b149ef39.jpg");

  height: 740px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image2 {
  background-image: url("https://i.pinimg.com/originals/7b/50/20/7b5020dd70445976171bf410b149ef39.jpg");

  height: 50%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tittle{
    color: white;
    margin: 0;
    padding: 30% 10% 30% 10%;
    text-align: center;
    font-weight: bold;
}

.container{
  margin: 0;
  text-align: center;
  color: white; 
}

.container h1{
  margin-top: 100px;
  font-weight: bold;
  font-size: 3rem;
}

.row{
  margin: 25px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  background-color: rgba(255,255,255,0.65);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: 0.3s;
  width: 30%;
  padding: 10px;
  border-radius: 25px;
  margin: 0 5px;
}

.card img{
  width: 100%;
  align-items: center;
}

.card-tittle{
  margin-top: auto;
  border: 5px solid white;
  border-radius: 50px;
  text-align: center;
  color: white;
}